<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
    <section
      name="CodeLanguageMapping"
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <appSettings>
    <add key="translationFolder" value="C:\Users\niles\Downloads\TranslatedOutput"/>
  </appSettings>

  <CodeLanguageMapping>
    <add key="af" value="Afrikaans"/>
    <add key="sq" value="Albanian"/>
    <add key="ar" value="Arabic"/>
    <add key="hy" value="Armenian"/>
    <add key="bn" value="Bangla"/>
    <add key="bg" value="Bulgarian"/>
    <add key="zh-Hans" value="ChineseSimplified" />
    <add key="hr" value="Croatian" />
    <add key="cs" value="Czek" />
    <add key="da" value="Danish" />
    <add key="nl" value="Dutch" />
    <add key="fil" value="Filipino" />
    <add key="fi" value="Finnish" />
    <add key="fr" value="French" />
    <add key="de" value="German" />
    <add key="el" value="Greek" />
    <add key="he" value="Hebrew" />
    <add key="hi" value="Hindi" />
    <add key="hu" value="Hungarian" />
    <add key="id" value="Indonesian" />
    <add key="ga" value="Irish" />
    <add key="it" value="Italian" />
    <add key="ja" value="Japanese" />
    <add key="ko" value="Korean" />
    <add key="ms" value="Malay" />
    <add key="my" value="Myanmar" />
    <add key="ne" value="Nepali" />
    <add key="nb" value="Norwegian" />
    <add key="fa" value="Persian" />
    <add key="pl" value="Polish" />
    <add key="pt-pt" value="Portuguese" />
    <add key="ro" value="Romanian" />
    <add key="ru" value="Russian" />
    <add key="es" value="Spanish" />
    <add key="sv" value="Swedish" />
    <add key="th" value="Thai" />
    <add key="tr" value="Turkish" />
    <add key="uk" value="Ukrainian" />
    <add key="vi" value="Vietnamese" />
  </CodeLanguageMapping>
</configuration>