<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
    <section
      name="CodeLanguageMapping"
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <appSettings>
    <!-- <add key="translationFolder" value="C:\Users\niles\Downloads\TranslatedOutput"/> -->
    <add key="translationFolder" value="/Users/nileshgule/Downloads/TranslatedOutput"/>
    <add key="downloadsFolder" value="/Users/nileshgule/Downloads/"/>
  </appSettings>
  
</configuration>